#captureAmount{
    width: 100%;
    font-size: 11vw;
    font-weight: 700;
    caret-color: #FFD56A;
    background:none;
    border:none;
    outline:none;
    margin:0px;
    padding:0px;
}

.inputInfo{
    height: 5vh;
    font-size: 11vw;
    font-weight: 700;
    color: #212121;
    pointer-events: none;
    line-height: normal;
    margin:0px;
    padding:0px;
}

.inputAmount{
    position: absolute;
    display: flex;
    align-items: baseline;
    top: 30vh;
    left: 5vw;
    width: 92vw;
}

/* .placeholder{
    z-index: 1;
    position: absolute;
    font-size:36px;
    font-weight: 700;
    color: #9f9f9f;
    pointer-events: none;
} */

.rightText{
    color:#343434;
    text-align: right;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.8px;
    margin: 0;
    margin-top: 3vh;
}

.b{
    font-size: 32px;
}

.s{
    font-size: 30px;
}