.share {
    display: flex;
    border-top: solid 1px #eee;
    flex-flow: column nowrap;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5vh;
}

.images {
    display: flex;
    overflow: auto;
    align-items: center;
    scroll-snap-type: x mandatory;
}

.image {
    min-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    scroll-snap-align: center;
}
